<a href="https://colab.research.google.com/github/RitulBorse2001/DSBDAL/blob/main/iris_A3_mean%2Cmode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
import statistics as st

df=pd.read_csv("/content/sample_data/iris.csv")    
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [7]:
df.mean()

<ipython-input-7-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

In [8]:
df.median()

<ipython-input-8-6d467abf240d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64

In [9]:
df.mode()

   sepal.length  sepal.width  petal.length  petal.width     variety
0           5.0          3.0           1.4          0.2      Setosa
1           NaN          NaN           1.5          NaN  Versicolor
2           NaN          NaN           NaN          NaN   Virginica

In [15]:
df.loc[:,'petal.length'].mean()     #df.loc[:.'column_name'].mean()   for finding mean of

3.7580000000000005

In [16]:
df.mean(axis=1)[0:2]        #for finnding mean row wise df.mean(axis=1)[column range]

<ipython-input-16-902099e2b2d3>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=1)[0:2]        #for finnding mean row wise df.mean(axis=1)[column range]

0    2.550
1    2.375
dtype: float64

In [17]:
df.min()

sepal.length       4.3
sepal.width        2.0
petal.length       1.0
petal.width        0.1
variety         Setosa
dtype: object

In [20]:
df.loc[:,'sepal.length'].median()

5.8

In [21]:
df.median(axis=1)[0:4]

<ipython-input-21-ccd22b6541c9>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median(axis=1)[0:4]

0    2.45
1    2.20
2    2.25
3    2.30
dtype: float64

In [22]:
df.loc[:,'sepal.length'].mode()

0    5.0
Name: sepal.length, dtype: float64

In [ ]:
df.max()

5.1                       7.9
3.5                       4.4
1.4                       6.9
0.2                       2.5
Iris-setosa    Iris-virginica
dtype: object

In [ ]:
df.std()                 #standard deviation

<ipython-input-23-ce97bb7eaef8>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

5.1    0.828594
3.5    0.433499
1.4    1.759651
0.2    0.761292
dtype: float64

In [ ]:
df.std(axis=1)[0:3]

<ipython-input-25-aa0bc9a83be5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std(axis=1)[0:3]

0    2.036950
1    1.997498
2    1.912241
dtype: float64

In [28]:
df.loc[:,'sepal.length'].min(skipna = False)    #use to find minimum from spdf.loc[:,'sepal.length'].min(skipna = False)    #use to find minimum from specific column

4.3

In [30]:
df.loc[:,'sepal.length'].max(skipna = False)

7.9

In [33]:
df.loc[:,'sepal.length'].std()

0.828066127977863

In [37]:
df.groupby(['variety'])['petal.length'].mean()   #variety = categorical variable & petal.lenght=quantitive variable

variety
Setosa        1.462
Versicolor    4.260
Virginica     5.552
Name: petal.length, dtype: float64

In [50]:
df_u=df.rename(columns= {'sepal.length)':'sepallength'},inplace = False)

In [54]:
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()
enc_df = pd.DataFrame(enc.fit_transform(df[['variety']]).toarray())
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [56]:
df_encode =df_u.join(enc_df)
df_encode

,sepal.length,sepal.width,petal.length,petal.width,variety,0,1,2
0,5.1,3.5,1.4,0.2,Setosa,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,Setosa,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,Setosa,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,Setosa,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,Setosa,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,Virginica,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,Virginica,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,Virginica,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,Virginica,0.0,0.0,1.0