<a href="https://colab.research.google.com/github/RitulBorse2001/DSBDAL/blob/main/naive_A6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df = pd.read_csv('/content/iris.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [6]:
X = df.iloc[:,:4].values
y = df['variety'].values
df.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [7]:
#Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [8]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
#Training the Naive Bayes Classification model on the Training Set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [10]:
#predicting test set result
y_pred = classifier.predict(X_test)
y_pred

array(['Virginica', 'Virginica', 'Setosa', 'Versicolor', 'Virginica',
       'Virginica', 'Versicolor', 'Setosa', 'Versicolor', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Setosa',
       'Setosa', 'Setosa', 'Virginica', 'Virginica', 'Versicolor',
       'Setosa', 'Versicolor', 'Virginica', 'Setosa', 'Versicolor',
       'Versicolor', 'Versicolor', 'Virginica', 'Virginica', 'Setosa'],
      dtype='<U10')

In [11]:
#Confusion Matrix and Accuracy
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  1.0

array([[ 9,  0,  0],
       [ 0, 10,  0],
       [ 0,  0, 11]])

In [12]:
#Comparing the Real Values with Predicted Values
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0    Virginica        Virginica
1    Virginica        Virginica
2       Setosa           Setosa
3   Versicolor       Versicolor
4    Virginica        Virginica
5    Virginica        Virginica
6   Versicolor       Versicolor
7       Setosa           Setosa
8   Versicolor       Versicolor
9       Setosa           Setosa
10  Versicolor       Versicolor
11   Virginica        Virginica
12  Versicolor       Versicolor
13   Virginica        Virginica
14      Setosa           Setosa
15      Setosa           Setosa
16      Setosa           Setosa
17   Virginica        Virginica
18   Virginica        Virginica
19  Versicolor       Versicolor
20      Setosa           Setosa
21  Versicolor       Versicolor
22   Virginica        Virginica
23      Setosa           Setosa
24  Versicolor       Versicolor
25  Versicolor       Versicolor
26  Versicolor       Versicolor
27   Virginica        Virginica
28   Virginica        Virginica
29      Setosa           Setosa